.homeContainer {
	position: absolute;
	height: 100vh;
	width: 100vw;
	max-height: 100vw;
	max-width: 100vh;
	background-color: red;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.startButton {
	position: absolute;
	margin: 0 auto;
	width: 47%;
	bottom: 1.8%;
	left: 26%;
	cursor: pointer;
	background-color: transparent;
	border: none;
}