@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
.homeContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  max-height: 100vw;
  max-width: 100vh;
  background: linear-gradient(to bottom right, #FF0000, #444444);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.startButton {
  font-family: "Lato", sans-serif;
  position: absolute;
  margin: 0 auto;
  width: 47%;
  left: 26%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.16em;
  border: 2px solid #FFFFFF;
  padding: 16px;
  transition: 0.6s;
  bottom: 50%;
  transform: translateY(50%);
}
.startButton:hover {
  background-color: #FFFFFF;
  color: #FF0000;
}

.game-title {
  display: flex;
  justify-content: center;
  font-family: "Rubik Vinyl", cursive;
  position: absolute;
  width: 47%;
  bottom: 60%;
  transform: translateY(50%);
  left: 26%;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}

@media (max-width: 800px) {
  .game-title {
    bottom: 70%;
  }
}
#gameContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  overflow: hidden;
  background-position: center;
  background-size: contain;
}
#gameContainer #time-container {
  position: absolute;
  font-family: "Rubik Vinyl", cursive;
  display: inline-flex;
  top: 0;
  left: 8px;
  font-size: 32px;
  color: #FFFFFF;
}
#gameContainer #time-container #time-counter {
  margin-left: 8px;
  font-size: 32px;
  color: #FFFFFF;
}
#gameContainer #lives-container {
  position: absolute;
  font-family: "Rubik Vinyl", cursive;
  display: inline-flex;
  top: 0;
  right: 8px;
  font-size: 32px;
  color: #FFFFFF;
}
#gameContainer #lives-container #lives-counter .heart-icon {
  font-size: 32px;
  color: #FFFFFF;
}
#gameContainer #lives-container #lives-counter .heart-icon.first {
  margin-left: 16px;
}
#gameContainer #exit-btn {
  font-family: "Lato", sans-serif;
  position: absolute;
  margin: 0 auto;
  width: 47%;
  left: 26%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.16em;
  border: 2px solid #FFFFFF;
  padding: 16px;
  transition: 0.6s;
  width: 180px;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4px;
}
#gameContainer #exit-btn:hover {
  background-color: #FFFFFF;
  color: #FF0000;
}

canvas {
  background-color: rgba(68, 68, 68, 0.6588235294);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  max-height: 100vw;
  max-width: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #FFFFFF;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}/*# sourceMappingURL=main.css.map */